# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# VS Files
*.VC.db
*.sdf
*.vc.opendb

# VS code files
.vscode/*

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
#*.exe
#*.out
#*.app
**/gdal-static_d.lib
**/gdal-static.lib

build/APR/*
build/APRUtil/*
build/bison/*
build/Boost/*
build/brotli/*
build/cppunit/*
build/crypto/*
build/cryptowrapper/*
build/curl/*
build/expat/*
build/FileGDB/*
build/firebird/*
build/freetype/*
build/galib/*
build/gdal/*
build/GEOS/*
build/glew/*
build/glut/*
build/googletest/*
build/GSoap/*
build/hawkNL/*
build/HDF5/*
build/KDIS/*
build/LasZip/*
build/libGeotiff/*
build/libGIST/*
build/libICONV/*
build/libJPEG/*
build/libKML/*
build/libLAS/*
build/libPNG/*
build/libpsl/*
build/libssh2/*
build/libTIFF/*
build/libxml/*
build/log4cxx/*
build/Minizip/*
build/muparser/*
build/newmat/*
build/nghttp2/*
build/OGDI/*
build/OpenCV/*
build/OpenDIS/*
build/OpenSSL/*
build/OpenThreads/*
build/PoDoFo/*
build/PROJ/*
build/pthread/*
build/Qt/*
build/QuaZip/*
build/QWT/*
build/qxrunner/*
build/SQLite3/*
build/SZip/*
build/tbb/*
build/UriParser/*
build/vld/*
build/Xerces/*
build/ZLib/*
build/ZStd/*

# ignore the QT source
src/Qt/*

# temp while building...  remove when it all seems to work
include/*
sdk/x86/*
sdk/x64/*
firebird/*
Qt/*