temp/
/gen/
output_Win32_*/
output_x64_*/
examples/prebuilt/
.vs/
m4/
autom4te.cache/
builds/install_images
aclocal.m4
/*.patch
/*.diff
config.status
configure
config*~
libtool
*.log
*.bak
*.tmp
*.d
src/dsql/parse.cpp
.vscode/.browse.VC.db
extern/decNumber/libdecFloat*.a
extern/int128/absl/numeric/libi128*.a
extern/ttmath/debug/
extern/ttmath/release/
/Makefile
/src/include/gen/parse.h
/src/include/gen/autoconfig.auto
/src/include/gen/autoconfig.h
extern/libcds/lib/
/vcpkg_installed/
