.DS_Store
/tests/3rdparty/scion-tests/node_modules
*~
*.pro.user
*.qmlproject.user
*.o
Makefile
.qmake.stash
*.app
moc_*.cpp
*.dylib
*.moc
/tools/qscxmlc/qscxmlc
/tests/testCpp/testCpp

tst_cppgen
qrc_*.cpp
tst_scion
.qmake.cache
*.pch
tests/auto/scion/compiled_tests.h
tests/auto/scion/scxml
tests/auto/scion/scion.h
tests/auto/scion/scion.qrc

examples/trafficlight-qml/statemachine.cpp
examples/trafficlight-qml/statemachine.h
examples/trafficlight-qml/Makefile.*
examples/trafficlight-widgets/statemachine.cpp
examples/trafficlight-widgets/statemachine.h
examples/trafficlight-widgets/Makefile.*
